*{
  margin: 1.5px 1.5px;
  padding: 4px;
  box-sizing: border-box;
}
body{ background-size: auto;
  display: flex;
  align-content: center;
  align-self: auto;
  font-family: sans-serif;
}

.container .logo{ float: left; 
  border-radius: 25px;
}
a { display: flex;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  margin: 30px 30px 30px;
}
.container .kingslogo{
  border-radius: 50px;
  
}